/* DOCUMENT FORMAT */

html{
	height: 100%;
	box-sizing: border-box;	
}

body{
	position: relative;
	margin: 0;
	min-height: 100%;
	box-sizing: inherit;
}

main{
	width: 100%;
	margin: 0 auto;
}	

h1{
	margin: 0%;
}

p{	
	font-size: 18px;
	text-align: justify;
}

footer{
	background-color: brown;
	font-size: 18px;
	padding: 10px;
	text-align: center;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	border: solid;
	border-color: purple;
}

/* HEADER */

header{
	background-image: url('battlegrounds.jpg');
	background-position: center;
	background-size: 80% 80%;
}

header{
	text-align: center;
	border: solid;
	border-color: purple;
}

 header h1{
	font-style: italic;
	font-size: 42px;
 }
 nav li{
	font-style: italic;
	display: inline-block;
	padding: 0px 20px;
	font-size: 24px;
 }

header h2{
	border-bottom: solid 1px;
}



/* HOME PAGE */

.aside-homepage{
	display: flex;
	justify-content: center;
	align-items: center;	
}

.homepage-video1{
	position:absolute;
	bottom: 80px;
	word-spacing: 400px;	
}

section{
	border: solid;
	background-color: brown;
	padding: 2%;
}

/* ABOUT US */
.main-background{
	height:1000px;
	border: solid;
	border-color: purple;
	background-image: url('Squid.jpg');
	background-position: center;
}